.contain {
	background: url(/static/wxcj/i/shine.png) no-repeat center center;
	background-size: cover;
}
a {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 50%;
}
a:focus {
	outline: none;
}
img {
	width: 100%;
}
.clickOpen {
	position: absolute;
	right: 10%;
	bottom: 16%;
	width: 33%;
}
.flash {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}