/*
* base.css
* 一个属性单行，超过一个多行
*/
/*CSS reset*/
body,div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,
input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;	
}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;	
}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before,q:after {content: '';}
abbr,acronym {border: 0;}

/*base.css*/
.fl {float: left;}
.fr {float: right;}
.cf {overflow: hidden;}
.cf:after {
	content: '';
	display: table;
	clear: both;
}
/* common */
html {
	font-size: 10px;
}
html, body {
	width: 100%;
	height: 100%;
	font: 1.4rem/1.5 'Microsoft YaHei', '微软雅黑', Helvetica, Tahoma, Arial, sans-serif;
}
body {
	max-width: 640px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 27.64%;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-size: cover;
	font-size: 0;
	height: 12.32%;
}
header img {
	width: 100%;
	height: 100%;
}
footer img {
	width: 100%;
	height: 100%;
}
.contain {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 640px;
	background: url(/static/wxcj/i/bg.png) no-repeat center center;
	background-size: cover;
}